<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css" />
    <title>New Message</title>
</head>
<body class="grid justify-items-center">
    <h1 class="text-2xl font-extrabold">Add New Message To The Message Board</h1>
    <form class="grid gap-2 mt-4" method="POST" action="">
        <label for="author">Author</label>
        <input class="border-2 border-black rounded-md" id="author" type="text">
        <label for="message">Message</label>
        <textarea class="border-2 border-black rounded-md" rows="5" id="message"></textarea>
        <button class="bg-blue-500 text-white px-4 py-1 font-bold rounded-md">POST</button>
    </form>
</body>
</html>