<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./output.css" />
    <title>Home</title>
  </head>
  <body class="grid grid-rows-[0.1fr_2fr] justify-center h-dvh p-2">
    <h1 class="text-2xl font-extrabold justify-self-center">Welcome to the Mini Message Board</h1>
    <section class="grid grid-cols-3 gap-2 mt-4 overflow-y-scroll">
      <% messages.forEach((message, index)=> { %>
        <article  class="bg-slate-200 self-start p-4 rounded-xl grid">
            <h1 class="text-xl font-medium"><%= message.user %></h1>
            <p><%= message.text %></p>
            <p class="italic font-extralight"><%= message.added %></p>
            <a class="grid" href="/message/<%= index %>"><button class="bg-blue-500 text-white px-4 py-1 font-bold rounded-md" name="messageNumber">Open</button></a>
            
        </article>
      
      <%})%>
    </section>
    <a href="/new" class="justify-self-center">

      <button class="bg-blue-500 text-white px-4 py-1 font-bold rounded-md">New Message</button>
    </a>
  </body>
</html>
