<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./output.css" />
    <title>Home</title>
  </head>
  <body>
    <h1 class="text-2xl text-teal-300">hello world</h1>
    <section>
      <% messages.forEach((message)=> { %>
        <article>
            <h1><%= message.user %></h1>
            <p><%= message.text %></p>
            <p><%= message.added %></p>
        </article>
      
      <%})%>
    </section>
  </body>
</html>
